.footer__secao{
    margin: 2em 0 0 0 ;
    padding: 1em;
    background: var(--azulClaro);
}

.footer__lista__titulo{
    font: 1.5em;
    font-weight: 600;
    padding-bottom: .25em;
    margin: 2em 0 0 0;
}

.footer__lista__titulo__frufru{
    border: 1px solid var(--azulEscuro);
    width: 10%;
    opacity: 60%;
    margin: 0 0 1em 0;
}

.footer__lista__item{
    margin: 1em 0 0 1em;
}

.footer__lista__link{
    text-decoration: none;
    color: var(--preto);
}

.footer__lista__link:visited{
    color: var(--preto);
}

.last__frufru{
    margin: 0;
}

.footer__social{
    display: flex;
    
}

.footer__legal{
    margin: 0;
    background: var(--amarelo);
}

.secao__legal__diretos{
    margin: 2em 1em;
    opacity: 50%;
    font-size: 1em;
}
.footer__lista__link:hover{
    color: var(--azulMaisEscuro) ;
}

@media screen and (min-width: 1024px){
    .rodape > .footer__secao{
        display: flex;
        justify-content: space-around;
    }

    .footer__lista__item{
        margin: 1em 0 0 0em;
    }

    .redesocial{
        margin:1em 0 0 1em;;
    }
    .rodape > .footer__legal {
        display: block;
    }
    .footer__legal > .footer__lista{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    } 
    .secao__legal__diretos{
        text-align: center;
    }  
}

@media screen and (min-width: 1200px){
    .rodape > .footer__secao{
        display: flex;
        justify-content:space-around;
    }

    .footer__lista__item{
        margin: 1em 0 0 0em;
    }

    .redesocial{
        margin:1em 0 0 1em;;
    }
    .rodape > .footer__legal {
        display: block;
    }
    .footer__legal > .footer__lista{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    } 
    .secao__legal__diretos{
        text-align: center;
    }  

}

@media screen and (min-width: 1600px){
    .rodape > .footer__secao{
        display: flex;
        justify-content: space-around;
    }

    .footer__lista__item{
        margin: 1em 0 0 0em;
    }

    .redesocial{
        margin:1em 0 0 1em;;
    }
    .rodape > .footer__legal {
        display: block;
    }
    .footer__legal > .footer__lista{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    } 
    .secao__legal__diretos{
        text-align: center;
    }  

}