.principal{
    padding: 1em 0;
    overflow: hidden;
}
.principal__titulo{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5em;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.principal__imagem{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Swiper de dentro */

.swiper{
    z-index: 0;
}

.swiper-pagination{
    margin-bottom: 90%;
}
.swiper__icons{
    margin: 1em 0;
    position: absolute;
    z-index: 9999;
    right: 5%;
}


.swiper__icons__img{
    width: 2.2em;
}
.coracaocheio{
    display: none;
}
.img__card__info{
    position: absolute;
    width: 90vw;
    margin: 0 .75em;
    top: 65%;
    z-index: 1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    color: var(--branco);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.28);
}
.img__card__info:hover{
    background: rgba(255, 255, 255, 0.91);
    color: var(--preto);
}
.img__card__titulo{
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.img__card__info__link{
    text-decoration: none;
}

.img__card__info__link:hover{
    color: var(--preto) !important;
}
.img__card__info__link:visited{
    color:var(--branco);
}

.img__card__localizacao{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 0.75em;
}

.img__card__preco{
    margin: .25em;
    font-size: 1.15em;
    font-weight: 600;
}

.img__card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img__footer__avaliacao__texto{
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    font-weight: 600;
}

/* Swiper de dentro */

/* Swiper de fora inicio */

.splide__slide{
    padding: .5em;
}
