.principal{
    padding: 1em 0;
    overflow: hidden;
}


.principal__banner{
    padding: .65em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.principal__banner__titulo{
    color: black;
    width: 100%;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
}

.principal__banner__img{
    width: 70%;
}

.principal__banner__label{
    margin: 2em 0 .5em 0 ;
    font-size: 1.2em;
    color: var(--preto);
}

.principal__banner__input{
    width: 80%;
    height: 3vh;
    border-radius:8px;
    outline: none;
    border: 1px solid var(--cinza);
}
.principal__banner__input::placeholder{
    font-size: 1.2em;
}

.principal__titulo{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    width: 80%;
    padding: .5em;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.principal__imagem{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.principal__divisior__secao{
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 0));
    border: 0;
    margin: 2em 0;
}

/* Swiper de dentro */

.swiper-pagination{
    margin-bottom: 90%;
}

.input__like__box{
    position: absolute;
    z-index: 3;
    top: 8%;
    right: 7%;
    opacity: 0%;
    border: 1px solid red;
    height:  1.5em;
}

.coracao{
    margin: 1em 0;
    position: absolute;
    z-index: 2;
    top: 2%;
    right: 5%;
}

.swiper__like__img{
    width: 2.2em;
}

.coracaocheio{
    display: none;
}

.input__like__box:checked ~ .coracaovazio {
    display: none;
}

.input__like__box:checked ~ .coracaocheio {
    display: inline;
}

.img__card__info{
    position: absolute;
    width: 90vw;
    margin: 0 .75em;
    top: 65%;
    z-index: 1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    color: var(--branco);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.28);
}
.img__card__info:hover{
    background: rgba(255, 255, 255, 0.91);
    color: var(--preto);
}

.img__card__titulo{
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.img__card__localizacao{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 0.75em;
}
.img__card__info:hover .img__extlink__img-white {
    display: none;
}

.img__card__info:hover .img__extlink__img-black {
    display: inline;
}

.img__extlink__img-black{
    display: none;
}
.img__extlink__img{
    position: absolute;
    right: 2%;
    bottom: 45%;
}

.img__card__preco{
    display: flex;
    align-items: flex-end;
    margin: .25em;
    font-size: 1.15em;
    font-weight: 600;
}

.img__card__preco__indicador{
    font-size: 0.75em;
    opacity: 50%;
}

.img__card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img__footer__avaliacao__texto{
    margin: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    font-weight: 600;
}

/* Swiper de dentro */

/* Swiper de fora inicio */

.splide__slide{
    padding: .5em;
}

/* apartamentos */

.principal__aps{
    border: 1px solid red;
}