@import url("header.css");
@import url("main.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url("footer.css");

:root {
    --fonte-primaria: "Comfortaa";
    --preto: #000000;
    --branco: #fff;
    --cinza: #e6ebed;
    --corPrimaria: linear-gradient(90deg, rgba(250,241,224,1) 0%, rgba(224,237,240,1) 99%);
    --amarelo: rgb(250,241,224) ;
    --azulClaro: rgb(224,237,240);
    --azulEscuro: #AAB7B8 ;
}

body{
    background: var(--branco);
    background: var(--corPrimaria);
    font-family: var(--fonte-primaria);
}
