@import url("header.css");
@import url("main.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --fonte-primaria: "Comfortaa";
    --preto: #000000;
    --branco: #fff;
}

body{
    background: var(--branco);
    background: linear-gradient(90deg, rgba(250,241,224,1) 0%, rgba(224,237,240,1) 99%);
    font-family: var(--fonte-primaria);
}
